<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rr.CPing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CPing">
        <activity
            android:name=".Activities.SettingsNextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Utils.ReminderBroadCast"
            android:enabled="true" />
        <receiver
            android:name=".Utils.DeviceBootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:targetApi="n">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.AlarmRingingActivity"
            android:autoRemoveFromRecents="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:inheritShowWhenLocked="true"
            android:lockTaskMode="always"
            android:parentActivityName=".Activities.SplashActivity"
            android:persistableMode="persistAcrossReboots"
            android:screenOrientation="portrait"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:targetApi="q" />
    </application>

</manifest>